/* add css module styles here (optional) */

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}

Button[type='primary'] {
  background-color: rgb(59, 213, 224);
}

Button[type='dashed'] {
  background-color: magenta;
  border-style: dashed;

}

Button[type='text']:hover {
  background-color: transparent;
}

Button[type='link']:hover {
  color: aqua;
}